@(activePage: String)
<html>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-left">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.scala.html"><strong>HOME</strong></a></li>
                <li><a href="#"><strong>ABOUT US</strong></a></li>
                <li><a href="#"><strong>FOR CLIENTS</strong></a></li>
                <li><a href="#"><strong>MODERN TECHNOLOGIES</strong></a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><strong>En</strong></a></li>
                <li><a href="#"><strong>Ru</strong></a></li>
                <li><a href="#"><strong>Uz</strong></a></li>
            </ul>
        </div>
    </div>
    <div></div>
</nav>
</html>