@(activePage: String)
<html>
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>
            <span style="color: #269abc">Registration and Log in</span>
            </legend>
            <span>Your log in</span>
            <input class="form-control" type="text" placeholder="Log in">
            <br>
            <input class="form-control" type="password" placeholder="password">
            <br>
            <button class="btn btn-block" type="button" style="background-color: #285e8e; color: #449d44">Log in</button>
            <br>
            <a href="#" class="pull-left">registration</a>
        <br>
        </div>
    </div>
</html>